{
  "CloudMentorFunction": {
    "AI_MODE": "openrouter",
    "AI_API_KEY": "file is in env.json",
    "AI_MODEL": "openai/gpt-4.1-mini",
    "TABLE_NAME": "",
    "MATERIALS_BUCKET": "",
    "CORS_ORIGIN": "*",
    "STORAGE_MODE": "local",
    "LOCAL_DEV": "true"
  }
}
