{
  "CloudMentorFunction": {
    "AI_MODE": "openrouter",
    "AI_API_KEY": "file is in env.json",
    "AI_MODEL": "openai/gpt-4.1-mini",
    "TABLE_NAME": "sam-table",
    "MATERIALS_BUCKET": "your-cloudmentor-materials-bucket",
    "CORS_ORIGIN": "http://YOUR_EC2_PUBLIC_IP",
    "STORAGE_MODE": "s3",
    "LOCAL_DEV": "false"
  }
}
